language: php

php:
  - 7.1
  - 7.2
  - 7.3

install: composer install

before_install:
  - sudo add-apt-repository -y ppa:jonathonf/ffmpeg-4
  - sudo apt-get -y -q update
  - sudo apt-get -y -q install ffmpeg
  - sudo ln -s /usr/bin/ffmpeg /usr/local/bin/ffmpeg
  - sudo ln -s /usr/bin/ffprobe /usr/local/bin/ffprobe

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - vendor/bin/coveralls -v

notifications:
  email:
    on_success: never
